<h1> <center> Data Acquisition: Publications per Department through JSON </center> </h1>

For the 12 departments we are analysing, we need data on their publications. While this data can be webscraped, it is already available in JSON format, which is semi-structured and so much easier to convert to a dataframe and manipulate. As we want to look at publications for department over time, we will be loading multiple JSON files based on department, not just time.

<h2> <i> <center> Importing Data </center> </i> </h2>

In [94]:
import json
import pandas as pd
from datetime import datetime

departments = ['Anthropology', 'Economic History', 'Finance', 'Geography and Environment', 'Government', 
               'International Relations', 'Management', 'Mathematics', 'Psychological and Behavioural Science',
              'Social Policy', 'Sociology', 'Statistics']
publications_data = {}

# loading files
for department in departments:
    with open(f"Data/{department}_publications.json", "r") as file:
        publications_data[department] = json.load(file)

After loading in the data, we need to figure out the formatting of the file in order to extract the data on publication data.

In [95]:
# an example item
publications_data['Anthropology'][0]

{'date': '2024-03-11',
 'title': 'What relevance has division of labour in a world of precarious work?',
 'metadata_visibility': 'show',
 'issn': '0962-8436',
 'refereed': 'TRUE',
 'note': '© 2024 Royal Society',
 'eprint_status': 'archive',
 'subjects': ['HD', 'B1', 'GN', 'H'],
 'userid': 32689,
 'eprintid': 122334,
 'documents': [{'formatdesc': 'What relevance has division of labour in a world of precarious work',
   'uri': 'http://eprints.lse.ac.uk/id/document/371833',
   'eprintid': 122334,
   'pos': 1,
   'license': 'cc_by',
   'rev_number': 2,
   'files': [{'filename': 'What_relevance_has_division_of_labour_in_a_world_of_precarious_work.pdf',
     'mtime': '2024-03-12 09:54:09',
     'fileid': 2902930,
     'datasetid': 'document',
     'uri': 'http://eprints.lse.ac.uk/id/file/2902930',
     'filesize': 251666,
     'hash': 'e7a23cba36609a8176bd7e51fdb7e828',
     'objectid': 371833,
     'mime_type': 'application/pdf',
     'hash_type': 'MD5'}],
   'docid': 371833,
   'mime_type': 'application/pdf',
   'placement': 1,
   'main': 'What_relevance_has_division_of_labour_in_a_world_of_precarious_work.pdf',
   'content': 'accepted',
   'format': 'text',
   'security': 'public'},
  {'mime_type': 'text/x-c++',
   'main': 'indexcodes.txt',
   'placement': 2,
   'files': [{'filesize': 8801,
     'hash': '5111f8f3ccc6c5548a371a34bd10e019',
     'objectid': 371834,
     'mime_type': 'text/x-c++',
     'hash_type': 'MD5',
     'mtime': '2024-03-12 09:54:37',
     'filename': 'indexcodes.txt',
     'fileid': 2902932,
     'datasetid': 'document',
     'uri': 'http://eprints.lse.ac.uk/id/file/2902932'}],
   'docid': 371834,
   'format': 'other',
   'security': 'public',
   'uri': 'http://eprints.lse.ac.uk/id/document/371834',
   'eprintid': 122334,
   'formatdesc': 'Generate index codes conversion from text to indexcodes',
   'relation': [{'type': 'http://eprints.org/relation/isVersionOf',
     'uri': '/id/document/371833'},
    {'type': 'http://eprints.org/relation/isVolatileVersionOf',
     'uri': '/id/document/371833'},
    {'type': 'http://eprints.org/relation/isIndexCodesVersionOf',
     'uri': '/id/document/371833'}],
   'rev_number': 1,
   'pos': 2}],
 'language': 'eng',
 'divisions': ['CANT'],
 'datestamp': '2024-03-12 09:54:04',
 'ispublished': 'inpress',
 'date_type': 'accepted',
 'full_text_status': 'public',
 'creators': [{'orcid': '0000-0002-4274-197X',
   'instid': 23870,
   'id': 'd.a.james@lse.ac.uk',
   'name': {'given': 'Deborah',
    'lineage': None,
    'honourific': None,
    'family': 'James'}}],
 'status_changed': '2024-03-12 09:54:04',
 'pureid': 45494503,
 'rev_number': 5,
 'abstract': 'Post-Marx, social scientists have tended to define ‘labour’ by reference to working for others in return for a wage, rather than to a harmonious Durkheimian-style co-dependency. This mini-review of recent anthropological literature considers whether, in a world where the ‘standard employment contract’ is dwindling and many are out of work, ‘division of labour’ has any continuing relevance.',
 'type': 'article',
 'related_url': [{'type': 'author',
   'url': 'https://www.lse.ac.uk/anthropology/people/deborah-james'},
  {'type': 'pub', 'url': 'https://royalsocietypublishing.org/journal/rstb'}],
 'source': 'pure',
 'lastmod': '2024-03-12 09:57:03',
 'dates': [{'date': '2024-03-11', 'date_type': 'accepted'}],
 'dir': 'disk0/00/12/23/34',
 'uri': 'http://eprints.lse.ac.uk/id/eprint/122334',
 'publication': 'Philosophical Transactions of the Royal Society B: Biological Sciences'}

In [96]:
# how to extract date
publications_data['Anthropology'][0]['date']

'2024-03-11'

By examining some of the dates, particularly the earlier ones, we see that the dates are incomplete. As dropping them will lose us a lot of the earlier data, we instead assume them to occure on the first day of the first month (if only year is available) or on the first day of the available month. This will skew the earlier data so that there is a spike every first January, however it will help to create an accurate zoomed-out account and should not affect the more current data too much.

In [97]:
department_list = []
date_list = []

# iterating over each publication
for department, publications in publications_data.items():
    for publication_index in range(len(publications)):
        date = str((publications_data[department][publication_index]['date']))
        
        # there are multiple dates that contain incomplete date information so for those we'll assume first day
        if len(date) == 4:  
            date += '-01-01'
        elif len(date) == 7:
            date += '-01'
        date_dt = datetime.strptime(date, "%Y-%m-%d")
        
        # adding information to lists
        department_list.append(department)
        date_list.append(date_dt)

# converting to dataframe
publication_date_df = pd.DataFrame({"Department": department_list, "Date": date_list})
publication_date_df

         Department       Date
0      Anthropology 2024-03-11
1      Anthropology 2024-03-08
2      Anthropology 2024-02-20
3      Anthropology 2024-02-14
4      Anthropology 2024-02-12
...             ...        ...
32343    Statistics 1973-01-01
32344    Statistics 1973-01-01
32345    Statistics 1973-01-01
32346    Statistics 1973-01-01
32347    Statistics 1972-01-01

[32348 rows x 2 columns]

In [98]:
# sorting it in chronological order
publication_date_df_sorted = publication_date_df.sort_values(by="Date").reset_index(drop=True)

# converting date format to a more common format 
publication_date_df_sorted['Date'] = publication_date_df_sorted['Date'].dt.strftime("%d-%m-%Y")

publication_date_df_sorted

                                  Department        Date
0                           Economic History  01-12-1959
1                              Social Policy  01-01-1962
2                              Social Policy  01-01-1963
3                              Social Policy  01-01-1964
4                                 Management  01-01-1964
...                                      ...         ...
32343                             Management  01-06-2024
32344                          Social Policy  01-06-2024
32345                             Government  11-09-2024
32346  Psychological and Behavioural Science  01-12-2024
32347                                Finance  03-12-2024

[32348 rows x 2 columns]

In [99]:
# saving as csv file 
publication_date_df_sorted.to_csv('departmental_publications_date.csv', index=False)