# Preparation

In [1]:
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
import numpy as np

## Department of Management

In [2]:
#getting the management webpage
r_mgt=requests.get('https://www.lse.ac.uk/management/people-home')
soup_mgt=BeautifulSoup(r_mgt.content,'lxml')

In [3]:
#getting the name,department,label information as a list
mgt=[]

label1=soup_mgt.find_all('h1')
label1_wanted1=['academic staff',
               'other academic and research staff']
label1_wanted2=['professional services staff']

for label1 in soup_mgt.find_all('h1'):
    department='Management'
    
    #getting info under tabs: 'academic staff', 'other academic and research staff'
    #these two have similar structures
    if label1.get_text().lower() in label1_wanted1:
        label=label1.get_text()
        shortcut=label1.find_next('div',attrs={'class':'accordionContainer'})
        for label2 in shortcut.find_all('h2',attrs={'class':'accordion__title'}):
            inlabel2=label2.find_next('div',attrs={'class':'accordion__content'})
            for person in inlabel2.find_all('div',attrs={'class':'accordion__txt'}):
                #2 different cases
                if person.find('p').find('strong'):
                    name=person.find('p').find('strong').get_text()
                    mgt.append([name,department,label]) 
                else:
                    name=person.find('p').find_next('a').get_text()
                    mgt.append([name,department,label])
    
    #getting info under tab: 'professional services staff'
    #this one has a different structure
    if label1.get_text().lower() in label1_wanted2:
        label=label1.get_text()
        shortcut=label1.find_next('div',attrs={'class':'accordionContainer'})
        for label2 in shortcut.find_all('h2',attrs={'class':'accordion__title'}):
            inlabel2=label2.find_next('div',attrs={'class':'accordion__content'})
            for person in inlabel2.find_all('div',attrs={'class':'accordion__txt'}):
                #3 different cases
                if person.find('p').find('strong'):
                    name=person.find('p').find('strong').get_text()
                    mgt.append([name,department,label]) 
                elif person.find('p').find('b'):
                    name=person.find('p').find('b').get_text()
                    mgt.append([name,department,label]) 
                elif person.find('p').find('span'):
                    name=person.find('p').find('span').get_text()
                    mgt.append([name,department,label]) 
                else:
                    print('not all included')

In [4]:
#from the extracted name, decide if the person is prof/dr/non

for i in range(len(mgt)):
    namestr=mgt[i][0].lower().split()
    if 'dr' in namestr:
        mgt[i].append('Dr')
    elif 'professor' in namestr:
        mgt[i].append('Professor')
    else:
        mgt[i].append('Non')
    
    #getting rid of other useless strings, only keep the name
    name=mgt[i][0].replace('Dr','').replace('Professor','').replace('Sir','').replace('\xa0',' ').split()
    name=" ".join(name)
    mgt[i][0]=name

In [5]:
#convert list to dataframe

mgt=pd.DataFrame(mgt,columns=['name','department','label','title'])

In [6]:
#some problems with the webscaped information

print('\nSome names called vacancies are accidentally included, as they directly appear on the webpage.')
display(mgt[mgt['name']=='Vacancy'])
print('\n\nThere is one name missing because of the abnormal structure of the webpage')
display(mgt[mgt['name']==''])
display(mgt[148:151])

Some names called vacancies are accidentally included, as they directly appear on the webpage.

        name  department                        label title
75   Vacancy  Management  Professional services staff   Non
82   Vacancy  Management  Professional services staff   Non
100  Vacancy  Management  Professional services staff   Non
122  Vacancy  Management  Professional services staff   Non
133  Vacancy  Management  Professional services staff   Non

There is one name missing because of the abnormal structure of the webpage

    name  department                              label title
149       Management  Other academic and research staff    Dr

                 name  department                              label title
148  Michele Fioretti  Management  Other academic and research staff    Dr
149                    Management  Other academic and research staff    Dr
150        Dina Rabie  Management  Other academic and research staff    Dr

In [7]:
#dealing with the problems

mgt['name'] = mgt['name'].replace('Vacancy', pd.NA)
mgt=mgt.copy().dropna()
mgt.loc[mgt['name']=='','name']='Dr Henry Hang Shen'

display(mgt[mgt['name']=='Vacancy'])
display(mgt[mgt['name']==''])

Empty DataFrame
Columns: [name, department, label, title]
Index: []

Empty DataFrame
Columns: [name, department, label, title]
Index: []

In [8]:
#final dataframe
mgt

,name,department,label,title
0,Bethania Antunes,Management,Academic staff,Dr
1,Sarah Ashwin,Management,Academic staff,Professor
2,Jonathan E. Booth,Management,Academic staff,Dr
3,Wafaa Elmezraoui,Management,Academic staff,Non
4,Karin King,Management,Academic staff,Dr
...,...,...,...,...
168,Paul Willman,Management,Other academic and research staff,Professor
169,Mohamed Abouaziza,Management,Other academic and research staff,Dr
170,Anushri Gupta,Management,Other academic and research staff,Dr
171,Philipp Schoenegger,Management,Other academic and research staff,Dr
172,Oliver Seager,Management,Other academic and research staff,Non

## Department of Government

In [9]:
#getting the government webpage

r_gvt=requests.get('https://www.lse.ac.uk/government/people')
soup_gvt=BeautifulSoup(r_gvt.content,'lxml')

In [10]:
#getting the name,department,label information as a list

gvt=[]

label1=soup_gvt.find_all('h2',attrs={'class':'accordion__title'})
llabel1_wanted1=['academic staff',
               'professional services staff',
                'research staff']
label1_wanted2=['guest teachers and gtas']
label1_wanted3=['emeritus, affiliated & visiting academic staff']

for label1 in soup_gvt.find_all('h2',attrs={'class':'accordion__title'}):
    department='Government'
    
    # the following three tabs have the similar structures:
    #'academic staff','professional services staff','research staff'
    if label1.get_text().lower() in llabel1_wanted1:
        label=label1.get_text()
        shortcut=label1.find_next('div',attrs={'class':'accordion__content'})
        for person in shortcut.find_all('div',attrs={'class':'accordion__txt'}):
            if person.find('p').find('strong'):
                name=person.find('p').find('strong').get_text()
                gvt.append([name,department,label])
            elif person.find('p').find('b'):
                name=person.find('p').find('b').get_text()
                gvt.append([name,department,label])
            else:
                print('not all structure considered')
    
    #different structure for 'guest teachers and gtas'
    if label1.get_text().lower() in label1_wanted2:
        label=label1.get_text()
        shortcut=label1.find_next('div',attrs={'class':'accordion__content'})
        for person in shortcut.find_all('p'):
            if person.find('strong'):
                continue
            else:
                name=person.get_text()
                gvt.append([name,department,label])

    #different structure for 'emeritus, affiliated & visiting academic staff'
    if label1.get_text().lower() in label1_wanted3:
        label=label1.get_text()
        shortcut=label1.find_next('div',attrs={'class':'accordion__content'})
        for people in shortcut.find_all('ul'):
            for person in people.find_all('li'):
                if person.find('p'):
                    if person.find('p').find('strong'):
                        name=person.find('p').find('strong').get_text()
                        gvt.append([name,department,label])
                    else:
                        name=person.find('p').find('span').get_text()
                        gvt.append([name,department,label])
                else:
                    if person.find('strong'):
                        name=person.find('strong').get_text()
                        gvt.append([name,department,label])
                    else:
                        print('Not all structures considered')

In [11]:
#from the extracted name, decide if the person is prof/dr/non

for i in range(len(gvt)):
    namestr=gvt[i][0].lower().split()
    if '(dr)' in namestr:
        gvt[i].append('Dr')
    elif '(prof)' in namestr:
        gvt[i].append('Professor')
    else:
        gvt[i].append('Non')
    
    #getting rid of other useless strings, only keep the name
    namestrings=[]
    name=gvt[i][0].replace('\xa0',' ').split()
    for stri in name:
        string=stri.strip('()')
        if string.startswith('GV'):
            continue
        elif string in ['Dr','Mr','Prof']:
            continue
        else:
            namestrings.append(stri)  
    name=" ".join(namestrings)
    gvt[i][0]=name

In [12]:
#converting list to dataframe, final dataset
gvt=pd.DataFrame(gvt,columns=['name','department','label','title'])
gvt

,name,department,label,title
0,Victor Agboga,Government,Academic Staff,Non
1,Elise Antoine,Government,Academic Staff,Dr
2,Paul Apostolidis,Government,Academic Staff,Professor
3,Tom Bailey,Government,Academic Staff,Non
4,Daniel Berliner,Government,Academic Staff,Dr
...,...,...,...,...
158,Lukas Slothuus,Government,"Emeritus, Affiliated & Visiting Academic Staff",Dr
159,Zeynep Somer Topcu,Government,"Emeritus, Affiliated & Visiting Academic Staff",Dr
160,Christine Stedtnitz,Government,"Emeritus, Affiliated & Visiting Academic Staff",Dr
161,Jill Stuart,Government,"Emeritus, Affiliated & Visiting Academic Staff",Dr
162,Tinghua Yu,Government,"Emeritus, Affiliated & Visiting Academic Staff",Dr

## Department of Economic History

In [13]:
url_eh_staff = 'https://www.lse.ac.uk/Economic-History/People'
r = requests.get(url_eh_staff)
soup = BeautifulSoup(r.content,'lxml')

In [14]:
eh=[]

#senior management team
manage_divs = soup.find_all('div', {'class': 'accordion__txt'})[:4]
for manage_div in manage_divs:
    department='Economic History'
    manage_info = manage_div.find('strong')
    if manage_info:
        name = manage_info.get_text().strip().replace('\xa0',' ').split('-')
        name=name[0].split()
        name=' '.join(name)
        eh.append([name,department,'Senior Management Team'])

#all other tabs have similar structures
triggers = soup.find_all('a', {'class': 'accordion__trigger'})[:6]
for trigger in triggers:
    department='Economic History'
    trigger_text = trigger.get_text().strip().replace('\xa0',' ')
    # Find the sibling <div class="accordion__panel">
    panel_div = trigger.find_next_sibling('div', {'class': 'accordion__panel'})
    if panel_div:
        # Find all <div class="accordion__txt"> within the panel_div
        txt_divs = panel_div.find_all('div', {'class': 'accordion__txt'})
        for txt_div in txt_divs:
            info = txt_div.find('strong')
            name = info.get_text().strip()
            eh.append([name,department,trigger_text])

[['Professor Patrick Wallis', 'Economic History', 'Senior Management Team'],
 ['Professor Neil Cummins', 'Economic History', 'Senior Management Team'],
 ['Professor Sara Horrell', 'Economic History', 'Senior Management Team'],
 ['Jennie Stayner', 'Economic History', 'Senior Management Team'],
 ['Professor Olivier Accominotti',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Mr Dudley Baines', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Dr Gerben Bakker', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Dr Jordan Claridge', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Professor Neil Cummins',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Professor Kent Deng', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Professor Leigh Gardner\xa0(on leave 2023-24)',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Andres Guiot Isaac', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Professor Sara Horrell',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Professor Jane Humphries',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Dr Tehreem Husain', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Professor Janet Hunter',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Dr Alejandra Irigoin', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Dr Mina Ishizu', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Dr Jason Lennard', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Professor Colin Lewis',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Professor Chris Minns',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Dr Safya Morshed', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Professor Mary S Morgan',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Dr Natacha Postel-Vinay\xa0(on leave 2023-24)',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Professor Albrecht Ritschl',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Professor Joan Roses', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Professor Tirthankar Roy\xa0(on leave 2023-24)',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Dr Anne Ruderman', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Dr Mohamed Saleh', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Professor Max Schulze',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Professor Eric Schneider',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Dr Sabine Schneider', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Dr Rebecca Simson', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Professor Oliver Volckart',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Professor Patrick Wallis',
  'Economic History',
  'Faculty, Fellows and Teachers'],
 ['Dr Melanie Meng Xue', 'Economic History', 'Faculty, Fellows and Teachers'],
 ['Dr Chris Kissane', 'Economic History', 'Public Engagement and Impact'],
 ['Dr Jeremiah Dittmar', 'Economic History', 'Affiliated Faculty'],
 ['Dr Nadia Matringe', 'Economic History', 'Affiliated Faculty'],
 ['Luisa Bicalho Ritzkat - EH204 and EH437',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Eoin Dignam - EH101',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Nick Fitzhenry -',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Andres Irarrazaval Garcia Huidobro - Eh225',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Yangyang Liu - EH204',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Zane Jennings -',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Viren Mahurkar - EH207',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['William Mitchell - EH101',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Andy Park - EH101',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Nick Peyton - EH102',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Sheila Pugh - EH240',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Greg Salter - EH102',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Noah Sutter - EH101',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Tianning\xa0Zhu - EH209',
  'Economic History',
  'Graduate Teaching Assistants 2023-24'],
 ['Dr Ahmet Akarli', 'Economic History', 'Visiting Academics'],
 ['Professor Robert J Bennett', 'Economic History', 'Visiting Academics'],
 ['Professor Youssef Cassis', 'Economic History', 'Visiting Academics'],
 ['Professor David Chambers', 'Economic History', 'Visiting Academics'],
 ['Jordi Domenich Feliu', 'Economic History', 'Visiting Academics'],
 ['Terry Gourvish', 'Economic History', 'Visiting Academics'],
 ['Professor Leslie Hannah', 'Economic History', 'Visiting Academics'],
 ['Dr Karolina Hutkova', 'Economic History', 'Visiting Academics'],
 ['Professor Maarten Prak', 'Economic History', 'Visiting Academics'],
 ['Professor\xa0Andrew Seltzer', 'Economic History', 'Visiting Academics'],
 ['Dr\xa0Niccolò Valmori', 'Economic History', 'Visiting Academics'],
 ['Oli Harrison', 'Economic History', 'Professional Support Staff'],
 ['Kamilah Hassan', 'Economic History', 'Professional Support Staff'],
 ['Helena Ivins', 'Economic History', 'Professional Support Staff'],
 ['Tracy Keefe', 'Economic History', 'Professional Support Staff'],
 ['Jennie Stayner', 'Economic History', 'Professional Support Staff'],
 ['Darren Townsend', 'Economic History', 'Professional Support Staff']]

In [15]:
#from the extracted name, decide if the person is prof/dr/non

for i in range(len(eh)):      
    namestr=eh[i][0].lower().split()
    if 'dr' in namestr:
        eh[i].append('Dr')
    elif 'professor' in namestr:
        eh[i].append('Professor')
    else:
        eh[i].append('Non')
    
    #getting rid of other useless strings, only keep the name
    namestrings=[]
    name=eh[i][0].replace('\xa0',' ').split('(')
    for stri in name[0].split():
        if stri in ['Dr','Mr','Professor']:
            continue
        elif stri=='-':
            break
        else:
            namestrings.append(stri)  
    name=" ".join(namestrings)
    eh[i][0]=name

In [16]:
#converting list to dataframe, final dataset
eh=pd.DataFrame(eh,columns=['Name','Department','Label','Title'])
eh

,Name,Department,Label,Title
0,Patrick Wallis,Economic History,Senior Management Team,Professor
1,Neil Cummins,Economic History,Senior Management Team,Professor
2,Sara Horrell,Economic History,Senior Management Team,Professor
3,Jennie Stayner,Economic History,Senior Management Team,Non
4,Olivier Accominotti,Economic History,"Faculty, Fellows and Teachers",Professor
...,...,...,...,...
65,Kamilah Hassan,Economic History,Professional Support Staff,Non
66,Helena Ivins,Economic History,Professional Support Staff,Non
67,Tracy Keefe,Economic History,Professional Support Staff,Non
68,Jennie Stayner,Economic History,Professional Support Staff,Non
69,Darren Townsend,Economic History,Professional Support Staff,Non

## Department of Geography and Environment

In [17]:
url_eh_staff = 'https://www.lse.ac.uk/geography-and-environment/our-people'
r = requests.get(url_eh_staff)
soup = BeautifulSoup(r.content,'lxml')

In [18]:
geo=[]

# Deal with special "Type" - Senior Managment Team
triggers = soup.find_all('a', {'class': 'accordion__trigger'})
for trigger in triggers:
    department='Geography and Environment'
    label=trigger.get_text().replace('\n','')
    # Find the sibling <div> with class 'accordion__panel'
    panel_div = trigger.find_next_sibling('div', {'class': 'accordion__panel'})
    if panel_div:
        # Find all <div class="accordion__txt"> within the panel_div
        txt_divs = panel_div.find_all('div', {'class': 'accordion__txt'})
        for txt_div in txt_divs:
            # Find all <p> tags within the txt_div
            p_tags = txt_div.find_all('p')
            if len(p_tags) > 1:  # Ensure there is at least a second <p> tag
                second_p = p_tags[1]
                manage_info = second_p.find('strong')
                if manage_info:
                    name = manage_info.get_text().strip().replace('\xa0',' ')
                    if name!='':
                        geo.append([name,department,label]) 
                        
# Deal with 'Academic staff','Teaching staff','Affiliate staff'
soup.find_all('h2')
wanted=['Academic staff','Teaching staff','Affiliate staff']
for title in soup.find_all('h2'):
    department='Geography and Environment'
    if 'class' in title.attrs:
        continue
    else:
        if title.get_text() in wanted:
            section_div = title.find_next('section', {'class': 'accordion'})
            if section_div:
                txt_divs = section_div.find_all('div', {'class': 'accordion__txt'})
                for txt_div in txt_divs:
                    info = txt_div.find('a')
                    strong_info = txt_div.find('strong')
                    if info:
                        name = info.get_text().strip().replace('\xa0',' ')
                        geo.append([name,department,title.get_text()])                 
                    elif strong_info:
                        name = strong_info.get_text().strip().replace('\xa0',' ')
                        geo.append([name,department,title.get_text()])

                                
# Deal with special "Type" - Professional Services Staff
professional_staff_h2 = soup.find('h2', string='Professional Services Staff')
if professional_staff_h2:
    department='Geography and Environment'
    section_div = professional_staff_h2.find_next('section',{'class': 'accordion'})
    if section_div:
        txt_divs = section_div.find_all('div', {'class': 'accordion__txt'})
        for txt_div in txt_divs:
            info_strong = txt_div.find('strong')
            if info_strong:
                name = info_strong.get_text().strip().replace('\xa0',' ')
                geo.append([name,department,'Professional Services Staff'])
                
# Deal with special "Type" - Visiting Staff                  
visiting_staff_h2 = soup.find('h2', string='Visiting staff')
if visiting_staff_h2:
    department='Geography and Environment'
    section_div = visiting_staff_h2.find_next('div',{'class': 'accordion__content'})
    for person in section_div.find_all('p'):
        if person.find('a'):
            name=person.find('a').get_text().replace('\xa0',' ')
            geo.append([name,department,'Visiting staff'])
        else:
            name=person.get_text().replace('\xa0',' ')
            geo.append([name,department,'Visiting staff'])

In [19]:
len(geo)

141

In [20]:
#from the extracted name, decide if the person is prof/dr/non

for i in range(len(geo)):
    namestr=geo[i][0].lower().split()
    if 'dr' in namestr:
        geo[i].append('Dr')
    elif 'prof' in namestr:
        geo[i].append('Professor')
    elif 'professor' in namestr:
        geo[i].append('Professor')
    else:
        geo[i].append('Non')
    
    #getting rid of other useless strings, only keep the name
    if geo[i][0].startswith('Dr.'):
        name=geo[i][0].replace('Dr.','')
        geo[i][0]=name
    else:
        name=geo[i][0].replace('Dr','').replace('.','').replace('Prof','').replace('Professor','').replace('\xa0',' ').split()
        name=" ".join(name)
        geo[i][0]=name

In [21]:
geo=pd.DataFrame(geo,columns=['name','department','label','title'])

,name,department,label,title
0,Hyun Bang Shin,Geography and Environment,Senior Management Team,Professor
1,Christian Hilber,Geography and Environment,Senior Management Team,Professor
2,Claire Mercer,Geography and Environment,Senior Management Team,Professor
3,Simon Dietz,Geography and Environment,Senior Management Team,Professor
4,Nancy Holman,Geography and Environment,Senior Management Team,Dr
5,Olmo Silva,Geography and Environment,Senior Management Team,Professor
6,Sam Colegate,Geography and Environment,Senior Management Team,Non
7,Cornelia Agyenim – Boateng,Geography and Environment,Academic staff,Non
8,Laura Antona,Geography and Environment,Academic staff,Dr
9,Gabriel Ahlfeldt,Geography and Environment,Academic staff,Professor

By inspection, there is one name missing because of the abnormal structure of the webpage

In [22]:
display(geo[geo['name']==''])

   name                 department           label title
11       Geography and Environment  Academic staff    Dr

In [23]:
#dealing with abonormal data

geo.loc[geo['name']=='','name']='Aretousa Bloom'

In [24]:
#verifying

display(geo[geo['name']==''])

Empty DataFrame
Columns: [name, department, label, title]
Index: []

In [25]:
geo

,name,department,label,title
0,Hyun Bang Shin,Geography and Environment,Senior Management Team,Professor
1,Christian Hilber,Geography and Environment,Senior Management Team,Professor
2,Claire Mercer,Geography and Environment,Senior Management Team,Professor
3,Simon Dietz,Geography and Environment,Senior Management Team,Professor
4,Nancy Holman,Geography and Environment,Senior Management Team,Dr
5,Olmo Silva,Geography and Environment,Senior Management Team,Professor
6,Sam Colegate,Geography and Environment,Senior Management Team,Non
7,Cornelia Agyenim – Boateng,Geography and Environment,Academic staff,Non
8,Laura Antona,Geography and Environment,Academic staff,Dr
9,Gabriel Ahlfeldt,Geography and Environment,Academic staff,Professor
10,Giles Atkinson,Geography and Environment,Academic staff,Professor
11,Aretousa Bloom,Geography and Environment,Academic staff,Dr
12,Filippo Boeri,Geography and Environment,Academic staff,Dr
13,Felipe Carozzi,Geography and Environment,Academic staff,Dr
14,Ryan Centner,Geography and Environment,Academic staff,Dr
15,Anomitro Chatterjee,Geography and Environment,Academic staff,Dr
16,Paul Cheshire,Geography and Environment,Academic staff,Professor
17,Julia Corwin,Geography and Environment,Academic staff,Dr
18,Riccardo Crescenzi,Geography and Environment,Academic staff,Professor
19,Muna Dajani,Geography and Environment,Academic staff,Non